*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.color-btn{
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}